*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-img{
  background: linear-gradient(rgb(255 188 0 / 28%), rgb(255 188 0 / 28%), rgb(255 188 0 / 28%)), url(/img/1.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
}
.header-section{
 
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to top, #f07b0ea9, #f07b0ea9, #f07b0ea9, #f07b0ea9, #f07b0ea9);
  min-height: 60px;
}
.menu-list{
  display: flex;
  gap: 20px;
  padding: 15px;
}
.menu-list li{
  list-style: none;
  padding: 10px;
  /* margin: 20px; */
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  font-family:sans-serif;
  background: linear-gradient(rgb(255 94 0 / 0%), rgb(255 94 0 / 0%), rgb(255 94 0 / 0%));
  cursor: pointer;
}
.logo-sec{
  font-size: 25px;
  text-transform: uppercase;
  font-family: monospace;

}
.logo-sec a{
  text-decoration: none;
  color: #efc807;
  font-weight: 900;
 
}
.menu-list li:hover{
  background:  linear-gradient(to top, #f07b0ea9, #f07b0ea9, #f07b0ea9, #f07b0ea9, #f07b0ea9);
}
.textarea{
  margin-top: 315px;
  margin-left: 150px;
}
.textarea h1{
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
}
.textarea h1 span{
  color: #efc807;
}
.btn-1{
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  background: #251e01;
  font-weight: 700;
  padding: 15px;
  margin-top: 30px;
}
.about{
  background: #1E1E1E;
  color: #ffff;
  padding: 100px;
  height: 70vh;
}
.about img{
  width: 300px;
  float: left;
  margin: 25px;
}
.about-text h1{
  color: #efc807;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 15px;
}
.bgimg{
  background: linear-gradient(to right, #0c0707ce, #0c0707ce, #0c0707ce, #0c0707ce, #0c0707ce), url(/img/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.bgimg h1{
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 100px;
}
.bgimg span{
  color: #efc807;
}
.fourth-sec{
  background: linear-gradient(to right, #202020e0, #202020e0, #202020e0, #202020e0, #202020e0), url(/img/img3.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
}
.fourth-sec h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  padding: 20px;
}
.img-text{
  height: fixed;
  width: fixed;
}
.img-text{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}