*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#sidebar{
  position: fixed;
  width: 100%;
  height: 100%;
  left: -400px;
  background-color: black;
  transition-duration: 1s;
}
#sidebar li{
  color: white;
  font-size: 18px;
  padding: 20px;
  border-bottom: 1px solid white;
  text-align: center;
}
.toggle-btn{
  position: absolute;
  left: 115%;
  top: 15px;
}
.toggle-btn span{
  display: block;
  background-color: red;
  width: 30px;
  height: 5px;
  margin: 3px;
}
#sidebar.active{
  left: 0px;
  transform: transparent;
}
.toggle-btn:hover{
  border-style: solid;
  box-shadow: 0px 0px 2px gray;
}
